//Fondo
$ColorFondo:  rgba(207, 236, 228, 0.87);
$ColorCarusel: rgb(255, 255, 255);

//Medida
$MedidaGeneral: 10rem;

//Letras de texto
$LetraParrafo: 'Recursive', sans-serif;
$LetraNombre: 'Anton', sans-serif; 

//Tamaño
$TamTotal: 100%;
